img{
	width: 30%;
	float: left;
	margin: 1.66%;
}

p {
	font-family: 'Raleway', sans-serif; 
	font-size: 85px;
	margin: 1.66%;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid black;
}