<h1>Sign up form</h1>

<form action = "/register" method = "POST">
    <input type = "text" name = "username" placeholder="username">
    <input typer = "password" name = "password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href = "/register">Sign up please</a></li>
<li><a href = "/logout">logout</a></li>
<li><a href = "/login">login</a></li>